.container {
	margin: 0 auto;
	width: 90%;
}

.headersection {
	float: left;
	width: 100%;
	background-color: #5B191A;
	border: 1px solid black;
}
.logo {
	float: left;
	width: 20%;
	margin: auto;
	border: 1px solid black;
}

.banner1 {
	float: right;
	width: 55%;
	margin: auto;
	border: 1px solid black;
}

.navbar {
	display: flex;
	width: 100%;
	flex-flow: row;
	background-color: black;
	font-family: arial;
	font-size: 1.25em;
	
}
.navbar a {
	color: white;
	padding: 7.5px 15px 7.5px 15px;
	text-decoration: none;
}

.navbar a:hover {
	background-color: #dddd;
	color: black;
}

.maincontent {
	margin: 0 auto;
	width: 95%;
}

.todaysdate {
	text-align: right;
	font-family: arial;
}
.section1 h1 {
	float: left;
	width: 100%;
	padding: 1px 1px 1px 4px;
	background-color: #DDDDDD;
	color: black;
	font-family: arial;
	border: 1px solid black;
}

.sidbar1 {
	float: right;
	width: 20%;
}
.imageset1 {
	width: 80%;
	height: 80%;
}
.row1 {
	display: flex;
	flex-wrap: flex;

	padding: 40px;

}
.row2 {
	display: flex;
	flex-wrap: flex;

}

.section2 h1 {
	float: left;
	width: 70%;
	padding: 1px 1px 1px 4px;
	background-color: #DDDDDD;
	color: black;
	font-family: arial;
	border: 1px solid black;
}





.footer {
	background-color: black;
	border: 1px solid white;
}

.navbarbottom {
	display: flex;
	width: 100%;
	flex-flow: row;
	font-family: arial;
	padding: 5px;
	font-size: 0.95em;
	
}
.navbarbottom a {
	color: white;
	padding: 7.5px 15px 7.5px 15px;
	text-decoration: none;
}

.navbarbottom a:hover {
	background-color: #dddd;
	color: black;
}

.footerlogo {
	border: 1px solid white;

}
.copyright {
	border: 1px solid white;
	color: white;
	font-family: arial;
	text-align: center;
}